@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --light-green: #009900;
  --dark-green: #005500;
  --darker-green: #004400;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, var(--light-green), var(--dark-green));
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
}

h1,
p {
  color: var(--light-green);
}

.input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input-nome {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: var(--dark-green);
  color: white;
  border: none;
  cursor: pointer;
  margin: 5px 0;
}

.apagar-nome {
  background-color: var(--dark-green);
}

button:hover {
  background-color: var(--darker-green);
}
